* {
  margin:0;
  padding: 0;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Oswald', sans-serif;
 text-transform: uppercase;
}
/* removes margin-bottom that comes from bootstrap stylesheet */
.reset-p {
  margin-bottom: 0;
}
section {
  height: 100vh;
  width:100%;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}
/* Home */
#home {
  background:url("./img/home.jpeg") center no-repeat;
  background-attachment: fixed;
  color: white;
  text-align: center;
}

#home .text-content-home {
  background:black;
  padding: 20px 20px;
}
/* About */
#about .row .img-container-about {
  height: 100%;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}
#about .row .img-container-about img {
  height: 100%;
  width: 100%;
}
#about .row .text-content-about {
  display: flex;
  flex-direction: column;
  align-self: center;
}
/* Projects */
#projects {
  padding-bottom: 20px;
}
#projects .container .row  h1 {
  text-align: center;
  margin-top: 20px;
  color:black;
}

.proj-box {
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid white;
  min-height: 260px;
  background:white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  color:black;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.proj-box:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Contact */
#contact {
  text-align: center;
  padding: 10px 0px;
}


/* nav */
nav {
  width: 100%;
  height: 50px;
  background:black;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding:0px 20px;
}

nav a {
  display: inline;
  color:white;
  float: right;
}

nav a:hover {
  color: grey;
}

.clear {
  float: clear;
}

.lg-font {
  font-size: 40px;
}
/* footer */

footer {
  height:100px;
  background:black;
  color:white;

}
#icons {
 justify-content: flex-end;
}

#icons  i {
  margin:0px 20px;
}
.center-row-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  flex-wrap: wrap;
  transition: 0.2s;
}

/* Fonts */
.fa-twitter {
  background: #55ACEE;
  padding: 10px;
  color: white;
}

.fa-instagram {
background: #833AB4;
  padding: 10px;
  color: white;
}

.fa-github {
  background: white;
    padding: 10px;
  color: black;
}
.fab:hover {
  opacity: 0.7;
}
